# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name: dev_sasturain
    database_name_test: test_sasturain
    database_user: sasturain
    database_password: sasturain
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    node_path: /usr/bin/nodejs
    node_modules_path: /usr/local/lib/node_modules
    core:
        name: Sasturain
        extended_layout: 'CoreBundle:Base:base.layout.html.twig'
        extended_layout_admin: 'AdminBundle:Base:layout.html.twig'
        upload_directory: uploads
        server_base_url: 'http://sasturain.dev'
        fixtures_test: false
        admin_email: admin@admin.com
        company:
            id: XXX123123
            name: Company Name
            address: 'Address str. 12'
            postal_code: '14199'
            city: City Name
            country: Country
            telephone: '0157 557 58150'
            email: company@email.com
            sales_email: sales@email.com
            website_url: www.sasturain.com
            support_phone: '93 589 44 95'
            sales_phone: '93 589 44 95'
            sales_fax: '93 589 44 95'
        ecommerce:
            fixture_data: true
            currency_symbol: €
            advert_unit_price: 1
            vat: 0.21
            special_percentage_charge: 0
            delivery_expenses_type: by_percentage
            delivery_expenses_percentage: 0
            bank_account: 'ESXX XXX XXXX XXXX XXXX XXXX'
            paypal:
                host: 'https://api.sandbox.paypal.com'
                client_id: AafbeOnqAQTpS4bgP85kvrewollR8XsxAYmHlHI7ZzqEXqfjHMrMCaCjZjweT5y4DemLMSlfPro-P3Nz
                secret: EJIuyFXnqYwW5HtPmPl7TsWsoCgT0-RtPnAa8TodOUGjOg9yp6E0nZOHIM5bOVP_Q1jSnTencHlxGUQ7
                return_url: 'http://sasturain.dev/response-ok?paypal=true'
                cancel_url: 'http://sasturain.dev/cancel-payment'
            redsys:
                prod:
                    host: 'https://sis.redsys.es/sis/realizarPago'
                    secret: asdfheryar4tya4yaety
                    currency: 978
                    code: 327362570
                    terminal: 1
                    transaction_type: 0
                    bank_response_url: 'http://pre.optisoop.com/redsys-response'
                    return_url: 'http://pre.optisoop.com/response-ok?redsys=true'
                    cancel_url: 'http://pre.optisoop.com/cancel-payment'
                    consumer_language: 1
                dev:
                    host: 'https://sis-t.sermepa.es:25443/sis/realizarPago'
                    secret: qwertyasdf0123456789
                    currency: 978
                    code: 999008881
                    terminal: 4
                    transaction_type: 0
                    bank_response_url: 'http://pre.optisoop.com/redsys-response'
                    return_url: 'http://pre.optisoop.com/response-ok?redsys=true'
                    cancel_url: 'http://pre.optisoop.com/cancel-payment'
                    consumer_language: 1
    admin:
        - google_application_name: Analitycs
        - google_oauth2_client_id: 459960642348-nqhsk0rr1e41gv3kbb519g1nlk6rq78a.apps.googleusercontent.com
        - google_oauth2_client_secret: KScqc1jDkZHUBaanmMGV8QpB
        - google_oauth2_redirect_uri: 'http://optisoop2.dev/admin/analitycs'
        - google_developer_key: AIzaSyCda_bsJ-kEa1M1DJenwKfUfyLVlVKuC6I
        - google_site_name: Sasturain