/* 
    Created on : 04-oct-2016, 16:40:41
    Author     : sebastian
*/
.pricing{
    h2{
        color: #fff;
    }
    .light p{
        color: #fff;
    }
}
.navbar-nav > li > a {
    padding: 15px 25px;
    font-size: 16px;
    color: white;
}
.btn-core{
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    background: #00a8ff;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
.form-errors{
    padding: 0;
    list-style: none;
}

.btn-core:hover{
    color: #fff;
}
.owl-pagination{
    line-height: 23px!important;
}
.btn-primary{
    color: #fff;
    border-color: #fff;
    background: transparent;
}
.btn-primary:hover {
    color: #00a8ff;
    background: #fff;
    border-color: #fff;
}
.intro-table-hover .expand {
    margin-top: 70px;
}
.main-nav li a:hover,.main-nav li a:focus{
    background-color: transparent;
}
.main-nav li a.btn.btn-blue:hover,.main-nav li a.btn.btn-blue:focus{
    background-color: transparent;
}

/*********************/
/******Language*******/
/*********************/
.container-language{
    .btn-default{
        border: none;
    }
    #select-language > button{
        background-color: transparent;
        border-color:transparent;
        border: none;
    }
    .btn-default:hover, .dropdown-toggle.btn-default:hover,.open > .dropdown-toggle.btn-default {
        background-color: transparent;
        border-color:transparent;
        border: none;
    }
    .btn-default > span{
        color: white;
    }
    .btn.dropdown-toggle{
        padding-right: 0;
    }
    .dropdown-menu{
        min-width: 30px;
    }
}
.navbar-fixed-top{
    .btn-default > span{
        color: #bbb;
    }
}
.btn.btn-blue:hover{
    background: #00a8ff!important;
}


/*********************/
/********MENU*********/
/*********************/
.core-body{
    
    /*********************/
    /****Access menu*****/
    /*********************/
    .access {
        font-size: 17px;
        display: inline-block;
        padding: 11px 30px;
        span:hover{
            text-decoration: underline;
        }
    }
    #modalLogin{
        .modal-popup{
            form.popup-form>div.row>div.pull-left, form.popup-form>div.row>div>a.pull-right{
                color: #fff;
                text-align: left;
            }
            .btn-submit{
                padding: 15px;
                font-size: 18px;
            }
            .icheckbox_minimal-white{
                border: 2px solid #fff;
                width: 20px;
                height: 20px;
            }
            .icheckbox_minimal-white.checked {
                background-position: -41px -1px;
            }
        }
    }
    .profile-menu {
        padding: 0px;
        border: none;
        button{
            font-size: 16px;
            background: transparent;
            border: none;
            padding: 14px 30px;
            box-shadow: none;
        }
        .dropdown-menu > li > a{
            padding: 14px 30px;
        }
    }
    .container > .navbar-collapse{
        padding: 0;
    }
    .navbar{
        top: 0;
        padding: 25px 0 15px;
    }
    .navbar-fixed-top{
        padding: 25px 0 15px!important;
    }
    header#home{
        height: 100px;
    }
}
.core-body.home .navbar{
    top: 50px;
    padding: 0px;
}


/*********************/
/*******LOGIN*********/
/*********************/
.container-login{
    h2{
        text-align: center;
        font-size: 40px;
    }
    padding: 5em 0;
    form[name="login"]{
        input[type="text"],input[type="password"]{
            background: #29323b;
            color: #fff;
        }
    }
    button{
        font-size: 18px;
        padding: 15px
    }
}
/*********************/
/******REGISTER*******/
/*********************/
.container-register{
    h2{
        text-align: center;
        font-size: 40px;
    }
    padding: 5em 0;
    form[name="registration"]{
        input[type="text"],input[type="password"], select{
            background: #29323b;
            color: #fff;
        }
        #registration_state{
            padding-left: 10px;
            padding-right: 5px;
        }
        #registration_country{
            padding-left: 25px;
            padding-right: 10px;
        }
    }
}
/*********************/
/******RECOVERY*******/
/*********************/
.container-recovery{
    padding: 5em 0;
    h2{
        text-align: center;
        font-size: 40px;
    }
    form[name="recovery_email"]{
        input[type="email"]{
            background: #29323b;
            color: #fff;
        }
    }
}

/*********************/
/********BLOG*********/
/*********************/
.subscribe {
    .btn-primary{
        background: #00a8ff;
    }
    .btn-primary:hover{
        color: #fff;
    }
}

/*********************/
/*******PROFILE*******/
/*********************/
.container-profile {
    .profile-img {   
        padding: 15px 0 0!important;
        img {
            width: 65%!important;
        }
    }
    .profile-desc h1{
        font-size: 48px;
    }   
    .select-image-button{
        color: #444;
        font-size: 14px;
    }
    .paddingForFloat{
        padding-right: 0px;
    }
    .borderMenuProfile{
        border-top: 1px solid #ddd;
        padding: 20px 40px;
    }
    
    .tabs-left{
        background: white;
        margin-right: 1px;
        min-height: 300px;
        border-right: none;
        z-index: 9;
        position: inherit;
        li.active{
            background: white;
        }
        li a{
            padding: 15px 20px;
        }  
        li>a:hover {
            background-color: transparent;
            color: #000;
            border-color: #eeeeee #ddd #eeeeee #eeeeee;
        }
    } 
    .tabs-content{
        padding-left: 0px;
        h1{
            font-size: 40px;
            margin-bottom: 20px;
        }
        .tab-content{
            padding: 20px 0 0 20px;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            margin-left: -1px;
            z-index: 0;
            min-height: 350px;
            h3{
                margin-bottom: 30px
            }
            form{
                label{
                    padding: 23px 15px;
                }
                input, select{
                    background: #29323b;
                    color: #fff;
                }
            }
            .delivery-form, .address{
                padding: 0;
            }
            .add-delivery{
                margin-top: 4px;
            }
        }  
    }
    
    .profile,  {
        
        .account>div{
            margin-bottom: 50px;
        }
        p{
            //padding: 7px 20px 15px 0;
        }
    }
    .profile-img>div{
        padding: 10px 0;
    }
    
}

/*********************/
/*****ECOMMERCE*******/
/*********************/
.cart-detail, .identification{
    padding: 5em 0;
    
}