/* 
    Created on : 04-oct-2016, 16:40:41
    Author     : sebastian
*/
.pricing{
    h2{
        color: #fff;
    }
    .light p{
        color: #fff;
    }
}
.navbar-nav > li > a {
    padding: 15px 25px;
    font-size: 16px;
    color: white;
}
.btn-core{
    background: #00a8ff;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
.owl-pagination{
    line-height: 23px!important;
}
.btn-primary{
    color: #fff;
    border-color: #fff;
    background: transparent;
}
.btn-primary:hover {
    color: #00a8ff;
    background: #fff;
    border-color: #fff;
}
.intro-table-hover .expand {
    margin-top: 70px;
}
/*

#home{
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
        position: relative;
        margin: 10px 0;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }
}
h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}
.owl-pagination{
    line-height: 23px!important;
}
.main-nav li a:hover{
    background-color: transparent!important;
}
.btn-primary{
    color: #fff;
    border-color: #fff;
    background: transparent;
}
.btn-primary:hover {
    color: #00a8ff;
    background: #fff;
    border-color: #fff;
}
*/